/**
 * Float Layout Activity
 **/

body {
  /*  box-sizing: border-box;*
    text-align: justify; 
    background: rgb(185, 197, 166);*/
    background:ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.name{
    float: left;
    font-weight: bolder;
    font-size: 40px;
    font-style: normal;
    color: teal;
    text-align: left;
  /*  margin-left: 15px;*/
}
  
.container-1 {
    margin-top: 40px;
    /*padding:2px;*/
    position: relative;
    height:40px;
    width:73%;
    margin-left: 200px;
    font-weight:lighter;
    text-align: center;
    }

.about{
    position: absolute;
    margin-left: 83%;
    width:4%;
    margin-top: 30px;
}


.portfolio{
    position: absolute;
    margin-left: 88%;
    width: 4%;
    margin-top: 30px;
}

.contact{
    position: absolute;
    margin-left: 94%;
    width: 4%;
    margin-top:30px;
}

.description{
    margin-left: 200px;
    margin-bottom: 3%;  
   /* height:600px;*/
    width:72%;
  /*  font-family: Arial, Helvetica, sans-serif;*/
}

.bkcolor{
    background-color: gainsboro;
}

.inputClass{
    font-size: 12pt;
    height: 20px;
    width:95%;
    margin-left: 10px;
}

img {
    float: left;
    margin-right: 10px;
}

footer{
    clear:both;
    /*height: 70px;*/
    width:100%;
    background-color: rgba(233, 232, 225, 0.582);
}

  